# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nmubxfrsutvjbkgsxbna.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tdWJ4ZnJzdXR2amJrZ3N4Ym5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNTY4OTAsImV4cCI6MjEwMzczMjg5MH0.jbBUt59mStYIo6CfROODTFLHQ65BVe1A_DWju5RuDDM
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tdWJ4ZnJzdXR2amJrZ3N4Ym5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNTY4OTAsImV4cCI6MjEwMzczMjg5MH0.jbBUt59mStYIo6CfROODTFLHQ65BVe1A_DWju5RuDDM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tdWJ4ZnJzdXR2amJrZ3N4Ym5hIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE1Njg5MCwiZXhwIjoyMTAzNzMyODkwfQ.7ry7czE8cd8fHXEKmoYDLznRTfNiwqJoHwKyR9_EsQ4

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=oib2xtib
CLOUDINARY_API_KEY=977267632858263
CLOUDINARY_API_SECRET=4UpXnlF3ueEtVr4KFKtaB7JFf78
CLOUDINARY_URL=cloudinary://977267632858263:4UpXnlF3ueEtVr4KFKtaB7JFf78@oib2xtib

# Admin Direct Login Credentials
ADMIN_EMAIL=admin@aurelinco.com
ADMIN_PASSWORD=admin123

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# WhatsApp Concierge Default
WHATSAPP_NUMBER=919645032855